<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       ">
    <context:component-scan base-package="org.n3r.quartz.glass,org.n3r.demo"/>

    <bean class="org.n3r.quartz.glass.web.util.JobsScanner">
        <property name="basePackage" value="org.n3r.demo"/>
    </bean>

    <!--<bean class="org.n3r.quartz.glass.diamond.DiamondTriggersFactoryBean">-->
        <!--<property name="group" value="glass"/>-->
        <!--<property name="dataId" value="prop.triggers"/>-->
        <!--<property name="format" value="prop"/>-->
    <!--</bean>-->


    <!--<bean id="MyJob每30分钟" class="org.n3r.quartz.glass.job.GlassTriggerFactoryBean">-->
        <!--<property name="jobClass" value="org.n3r.demo.MyJob"/>-->
        <!--<property name="scheduler" value="Every 30 minutes"/>-->
        <!--<property name="triggerDataMap" value="staticType=hotSale"/>-->
    <!--</bean>-->

    <!--<bean id="MyJob每小时开始20分钟" class="org.n3r.quartz.glass.job.GlassTriggerFactoryBean">-->
        <!--<property name="jobClass" value="org.n3r.demo.MyJob"/>-->
        <!--<property name="scheduler" value="0 20 * * * ?"/>-->
        <!--<property name="triggerDataMap" value="staticType=商品静态"/>-->
    <!--</bean>-->

    <!--<bean id="MyJob每天凌晨3点" class="org.n3r.quartz.glass.job.GlassTriggerFactoryBean">-->
        <!--<property name="jobClass" value="org.n3r.demo.MyJob"/>-->
        <!--<property name="scheduler" value="At 03:00"/>-->
        <!--<property name="jobDataMap" value="staticType=首页静态"/>-->
    <!--</bean>-->

    <!--<bean id="POJO每小时40分钟干活" class="org.n3r.quartz.glass.job.GlassTriggerFactoryBean">-->
        <!--<property name="jobClass" value="org.n3r.demo.PojoJob"/>-->
        <!--<property name="scheduler" value="At ??:40"/>-->
        <!--<property name="triggerDataMap" value="orderType=退货订单"/>-->
    <!--</bean>-->

    <!--<bean id="POJO每1分钟干活" class="org.n3r.quartz.glass.job.GlassTriggerFactoryBean">-->
        <!--<property name="jobClass" value="org.n3r.demo.PojoJob"/>-->
        <!--<property name="scheduler" value="Every 1 minute"/>-->
        <!--<property name="triggerDataMap" value="orderType=退货订单,logLevel=INFO"/>-->
    <!--</bean>-->

    <bean id="AutowiredBean每30秒干活" class="org.n3r.quartz.glass.job.GlassTriggerFactoryBean">
        <property name="jobClass" value="org.n3r.demo.AutoWireComponentJob"/>
        <property name="scheduler" value="Every 30 seconds"/>
    </bean>

    <bean id="WebJob每30s干活" class="org.n3r.quartz.glass.job.GlassTriggerFactoryBean">
        <property name="jobClass" value="org.n3r.demo.WebJob"/>
        <property name="scheduler" value="Every 30 seconds"/>
        <property name="triggerDataMap" value="who=bingoo,count=1"/>
    </bean>
    <bean id="WebJob每40s干活" class="org.n3r.quartz.glass.job.GlassTriggerFactoryBean">
        <property name="jobClass" value="org.n3r.demo.WebJob"/>
        <property name="scheduler" value="Every 40 seconds"/>
        <property name="triggerDataMap" value="who=huang,count=2"/>
    </bean>
    <bean id="WebJob每45s干活" class="org.n3r.quartz.glass.job.GlassTriggerFactoryBean">
        <property name="jobClass" value="org.n3r.demo.WebJob"/>
        <property name="scheduler" value="Every 45 seconds"/>
        <property name="triggerDataMap" value="who=dingoo,count=3"/>
    </bean>
</beans>